<div class="about">

    <img src="../../assets/img/connect.png" width="30%" />

    <div class="jumbotron">
        <h1 class="display-3">Facilitons les dons !</h1>
        <p class="lead">Connect est une initiative de Elodie Ozen visant à mettre en relation les particuliers qui souhaitant 
            faire des dons matériels à des associations qui sont dans le besoin, et notamment durant la crise du coronavirus.</p>
        <hr class="my-4">
        <p>Si vous avez des questions ou des demandes particulières, n'hésitez pas à nous contacter.</p>
        <p class="lead">
        <a class="btn btn-primary btn-lg" routerLink="/contact" role="button">Nous contacter</a>
        </p>
  </div>
</div>

