

<div class="connexion-form">
  
  <h3>Connexion</h3>
    <form>
      <div class="form-group">
        <label for="exampleInputPassword1">Adresse Email</label>
        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="michel@exemple.fr">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Mot de passe</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="He4vyP@$$w0rd">
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">Localisation</label>
        <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Paris">
      </div>
      <br />

      <div>
        <a routerLink="mdpOublie">Mot de passe oublié</a>
      </div>
      <br />
      
    <button type="submit" class="btn btn-primary">Connexion</button>
    
    <br />      
    <br />

    <div>
        <a routerLink="mdpOublie">Pas encore de compte ? Cliquez ici pour en créer un !</a>
    </div>

    </form>
</div>