<h3>Associations</h3>

<h5>Liste de mes demandes en cours</h5>

<div class="assos">
    <table class="table table-hover">
        <thead>
        <tr>
            <th scope="col">Besoin</th>
            <th scope="col">Quantité</th>
            <th scope="col">Ville</th>
        </tr>
        </thead>

        <tbody>
        <tr class="table-active">
            <th scope="row">Masques</th>
            <td>200</td>
            <td>Le Havre</td>
        </tr>
        <tr>
            <th scope="row">Denrées alimentaires</th>
            <td>200 repas/jour</td>
            <td>Tancarville</td>
        </tr>
        <tr class="table-active">
            <th scope="row">Serviettes hygiéniques</th>
            <td>200</td>
            <td>Rouen</td>
        </tr>
        </tbody>
    </table> 

    <button class="btn btn-primary new-demande">Nouvelle demande</button>

    <div class="map-region">
        <img src="../../assets/img/pinned-france.PNG" />
    </div>
</div>