<h3>Demande des associations</h3>

<div class="particuliers">

    <div class="liste-dons">

        <h6>Filtres : </h6>
        <div class="form-group">
            <label for="exampleSelect1">Région</label>
            <select class="form-control" id="exampleSelect1">
              <option>Normandie</option>
              <option>Ile-de-France</option>
              <option>ARA</option>
              <option>Occitanie</option>
              <option>Bretagne</option>
            </select>
        </div>

        <div class="form-group">
            <label for="exampleSelect1">Type de demandes</label>
            <select class="form-control" id="exampleSelect1">
              <option>Toutes</option>
              <option>Alimentaires</option>
              <option>Hygiène</option>
              <option>Autres</option>
            </select>
        </div>

        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Besoin</th>
                <th scope="col">Quantité</th>
                <th scope="col">Association</th>
                <th scope="col">Ville</th>
                <th scope="col">Distance</th>
            </tr>
            </thead>

            <tbody>
            <tr class="table-active">
                <th scope="row">Masques</th>
                <td>200</td>
                <td>La Croix Rouge</td>
                <td>Le Havre</td>
                <td>4 km</td>
            </tr>
            <tr>
                <th scope="row">Denrées alimentaires</th>
                <td>200 repas/jour</td>
                <td>Les restos du coeur</td>
                <td>Tancarville</td>
                <td>30 km</td>
            </tr>
            <tr class="table-active">
                <th scope="row">Serviettes hygiéniques</th>
                <td>200</td>
                <td>Secours populaire</td>
                <td>Rouen</td>
                <td>72 km</td>
            </tr>
            </tbody>
        </table>

    </div>

    <div class="map-region">
        <img src="../../assets/img/normandie.png" />
    </div>
</div>