<div class="accueil">
    <h2>Bienvenue sur CONNECT !</h2>
    <h5>La plateforme de mise en relation entre particuliers et associations pour faciliter les dons matériels et alimentaires.</h5>

    <br />
    <br />
    <br />


    <h3>JE SUIS</h3>

    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Un particulier</button>
    <div class="dropdown-menu">
      <a class="dropdown-item" routerLink="/particuliers">Répondre aux demandes des associations proches de chez moi</a>
      <a class="dropdown-item" routerLink="/don_spontane">Don spontané</a>
    </div>

    <h4>OU</h4>

    <button routerLink="/associations" class="btn btn-outline-primary">Une association</button>

</div>
